[submodule "third/stb"]
	path = third/stb
	url = https://github.com/nothings/stb.git
[submodule "third/tinyobjloader"]
	path = third/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
